In [2]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
from pandasql import sqldf

%matplotlib inline
pysql = lambda q: sqldf(q, globals())


df_box_office = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
df_box_office.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [3]:
df_box_office.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [4]:
# Connecting to database
conn = sqlite3.connect('zippedData/movies.sqlite')
# building sql cursor
cur = conn.cursor()
# Checking for existing tables
table_names = cur.execute("""SELECT name FROM sqlite_master WHERE type = 'table';""").fetchall()
table_names

[('movies',), ('sqlite_sequence',), ('directors',)]

In [5]:
q = """
SELECT * 
FROM movies
"""
data = cur.execute(q).fetchall()
columns = [x[0] for x in cur.description]
movies_df = pd.DataFrame(data=data, columns=columns)
movies_df.info()

q = """
SELECT * 
FROM directors
"""
data = cur.execute(q).fetchall()
columns = [x[0] for x in cur.description]
director_df = pd.DataFrame(data=data, columns=columns)
director_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4773 entries, 0 to 4772
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              4773 non-null   int64
 1   original_title  4773 non-null   object
 2   budget          4773 non-null   int64
 3   popularity      4773 non-null   int64
 4   release_date    4773 non-null   object
 5   revenue         4773 non-null   int64
 6   title           4773 non-null   object
 7   vote_average    4773 non-null   float64
 8   vote_count      4773 non-null   int64
 9   overview        4770 non-null   object
 10  tagline         3951 non-null   object
 11  uid             4773 non-null   int64
 12  director_id     4773 non-null   int64
dtypes: float64(1), int64(7), object(5)
memory usage: 484.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2349 entries, 0 to 2348
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        2349 non-null   object
 1   id          2349 non-null   int64
 2   gender      2349 non-null   int64
 3   uid         2349 non-null   int64
 4   department  2349 non-null   object
dtypes: int64(3), object(2)
memory usage: 91.9+ KB

In [7]:
q = """
SELECT *
FROM sqlite_sequence;
"""
data = cur.execute(q).fetchall()
columns = [x[0] for x in cur.description]
seq = pd.DataFrame(data=data, columns=columns)
seq.head()

        name    seq
0     movies  48399
1  directors   7110

In [6]:
q = """
SELECT * 
FROM df_box_office
LEFT JOIN movies_df
ON df_box_office.title = movies_df.original_title;"""

test = pysql(q)
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
 5   id              892 non-null    float64
 6   original_title  892 non-null    object
 7   budget          892 non-null    float64
 8   popularity      892 non-null    float64
 9   release_date    892 non-null    object
 10  revenue         892 non-null    float64
 11  title           892 non-null    object
 12  vote_average    892 non-null    float64
 13  vote_count      892 non-null    float64
 14  overview        892 non-null    object
 15  tagline         809 non-null    object
 16  uid             892 non-null    float64
 17  director_id     892 non-null    float64
dtypes: float64(9), int64(1), object(8)
memory usage: 476.4+ KB

In [7]:
test.sort_values('domestic_gross', ascending=False).head(20)

,title,studio,domestic_gross,foreign_gross,year,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
1872,Star Wars: The Force Awakens,BV,936700000.0,"1,131.6",2015,NaN,None,NaN,NaN,None,NaN,None,NaN,NaN,None,None,NaN,NaN
3080,Black Panther,BV,700100000.0,646900000,2018,NaN,None,NaN,NaN,None,NaN,None,NaN,NaN,None,None,NaN,NaN
3079,Avengers: Infinity War,BV,678800000.0,"1,369.5",2018,NaN,None,NaN,NaN,None,NaN,None,NaN,NaN,None,None,NaN,NaN
1873,Jurassic World,Uni.,652300000.0,"1,019.4",2015,43625.0,Jurassic World,150000000.0,418.0,2015-06-09,1.513529e+09,Jurassic World,6.5,8662.0,Twenty-two years after the events of Jurassic ...,The park is open.,135397.0,4783.0
727,Marvel's The Avengers,BV,623400000.0,895500000,2012,NaN,None,NaN,NaN,None,NaN,None,NaN,NaN,None,None,NaN,NaN
2758,Star Wars: The Last Jedi,BV,620200000.0,712400000,2017,NaN,None,NaN,NaN,None,NaN,None,NaN,NaN,None,None,NaN,NaN
3082,Incredibles 2,BV,608600000.0,634200000,2018,NaN,None,NaN,NaN,None,NaN,None,NaN,NaN,None,None,NaN,NaN
2323,Rogue One: A Star Wars Story,BV,532200000.0,523900000,2016,NaN,None,NaN,NaN,None,NaN,None,NaN,NaN,None,None,NaN,NaN
2759,Beauty and the Beast (2017),BV,504000000.0,759500000,2017,NaN,None,NaN,NaN,None,NaN,None,NaN,NaN,None,None,NaN,NaN
2324,Finding Dory,BV,486300000.0,542300000,2016,NaN,None,NaN,NaN,None,NaN,None,NaN,NaN,None,None,NaN,NaN
1875,Avengers: Age of Ultron,BV,459000000.0,946400000,2015,43604.0,Avengers: Age of Ultron,280000000.0,134.0,2015-04-22,1.405404e+09,Avengers: Age of Ultron,7.3,6767.0,When Tony Stark tries to jumpstart a dormant p...,A New Age Has Come.,99861.0,4769.0
729,The Dark Knight Rises,WB,448100000.0,636800000,2012,43600.0,The Dark Knight Rises,250000000.0,112.0,2012-07-16,1.084939e+09,The Dark Knight Rises,7.6,9106.0,Following the death of District Attorney Harve...,The Legend Ends,49026.0,4765.0
1131,The Hunger Games: Catching Fire,LGF,424700000.0,440300000,2013,43780.0,The Hunger Games: Catching Fire,130000000.0,76.0,2013-11-15,8.474235e+08,The Hunger Games: Catching Fire,7.4,6495.0,Katniss Everdeen has returned home safe after ...,Every revolution begins with a spark.,101299.0,4831.0
3081,Jurassic World: Fallen Kingdom,Uni.,417700000.0,891800000,2018,NaN,None,NaN,NaN,None,NaN,None,NaN,NaN,None,None,NaN,NaN
0,Toy Story 3,BV,415000000.0,652000000,2010,43639.0,Toy Story 3,200000000.0,59.0,2010-06-16,1.066970e+09,Toy Story 3,7.6,4597.0,"Woody, Buzz, and the rest of Andy's toys haven...",No toy gets left behind.,10193.0,4792.0
2767,Wonder Woman,WB,412600000.0,409300000,2017,NaN,None,NaN,NaN,None,NaN,None,NaN,NaN,None,None,NaN,NaN
1128,Iron Man 3,BV,409000000.0,805800000,2013,43628.0,Iron Man 3,200000000.0,77.0,2013-04-18,1.215440e+09,Iron Man 3,6.8,8806.0,When Tony Stark's world is torn apart by a for...,Unleash the power behind the armor.,68721.0,4784.0
2322,Captain America: Civil War,BV,408100000.0,745200000,2016,43623.0,Captain America: Civil War,250000000.0,198.0,2016-04-27,1.153304e+09,Captain America: Civil War,7.1,7241.0,"Following the events of Age of Ultron, the col...",Divided We Fall,271110.0,4781.0
735,The Hunger Games,LGF,408000000.0,286400000,2012,44023.0,The Hunger Games,75000000.0,68.0,2012-03-12,6.912107e+08,The Hunger Games,6.9,9455.0,Every year in the ruins of what was once North...,May The Odds Be Ever In Your Favor.,70160.0,4973.0
2762,Jumanji: Welcome to the Jungle,Sony,404500000.0,557600000,2017,NaN,None,NaN,NaN,None,NaN,None,NaN,NaN,None,None,NaN,NaN

In [8]:
q = """
SELECT * 
FROM movies_df
WHERE original_title LIKE '%Star%'
OR original_title LIKE '%Wars%'"""

search = pysql(q)
search

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0,43644,Star Trek Into Darkness,190000000,78,2013-05-05,467365246,Star Trek Into Darkness,7.4,4418,When the crew of the Enterprise is called back...,Earth Will Fall,54138,4795
1,43653,Star Trek Beyond,185000000,65,2016-07-07,343471816,Star Trek Beyond,6.6,2568,The USS Enterprise crew explores the furthest ...,None,188927,4802
2,43755,Star Trek,150000000,73,2009-05-06,385680446,Star Trek,7.4,4518,The fate of the galaxy rests in the hands of b...,The future begins.,13475,4795
3,43826,Star Wars: Episode III - Revenge of the Sith,113000000,44,2005-05-17,850000000,Star Wars: Episode III - Revenge of the Sith,7.1,4116,"Years after the onset of the Clone Wars, the n...",The saga is complete.,1895,4901
4,43827,Star Wars: Episode II - Attack of the Clones,120000000,43,2002-05-15,649398328,Star Wars: Episode II - Attack of the Clones,6.4,3992,"Ten years after the invasion of Naboo, the gal...",A Jedi Shall Not Know Anger. Nor Hatred. Nor L...,1894,4901
5,43830,Star Wars: Episode I - The Phantom Menace,115000000,54,1999-05-19,924317558,Star Wars: Episode I - The Phantom Menace,6.3,4432,"Anakin Skywalker, a young slave strong with th...",Every generation has a legend. Every journey h...,1893,4901
6,43897,Starship Troopers,105000000,58,1997-11-06,121214377,Starship Troopers,6.7,1560,"Set in the future, the story follows a young s...",The only good bug is a dead bug.,563,4889
7,44178,Star Trek: Insurrection,70000000,19,1998-12-10,118000000,Star Trek: Insurrection,6.3,391,When an alien race and factions within Starfle...,The battle for paradise has begun.,200,5058
8,44188,Stardust,70000000,48,2007-08-09,135560026,Stardust,7.1,1184,In a countryside town bordering on a magical l...,This Summer A Star Falls. The Chase Begins.,2270,4830
9,44323,Starsky & Hutch,60000000,28,2004-03-05,170268750,Starsky & Hutch,5.6,644,"Join uptight David Starsky and laid-back Ken ""...",They're the man.,9384,4993
10,44352,Star Trek: Nemesis,60000000,21,2002-12-13,67312826,Star Trek: Nemesis,6.1,479,En route to the honeymoon of William Riker to ...,A generation's final journey... begins.,201,5134
11,44631,Star Trek: First Contact,46000000,25,1996-11-21,150000000,Star Trek: First Contact,7.0,661,"The Borg, a relentless race of cyborgs, are on...",Resistance is futile.,199,5058
12,44900,Star Trek: Generations,38000000,14,1994-11-17,120000000,Star Trek: Generations,6.4,452,Captain Jean-Luc Picard and the crew of the En...,Boldly go.,193,5354
13,44912,Rock Star,57000000,11,2001-09-04,16991902,Rock Star,6.0,190,Rock Star tells the story of Chris Cole and a ...,The story of a wanna be who got to be.,12508,5152
14,44964,Star Trek: The Motion Picture,35000000,24,1979-12-06,139000000,Star Trek: The Motion Picture,6.2,530,When a destructive space entity is spotted app...,The human adventure is just beginning.,152,5379
15,45173,Bride Wars,30000000,33,2009-01-09,114663461,Bride Wars,5.9,856,Two best friends become rivals when their resp...,May the best bride win,10521,4995
16,45180,Star Trek V: The Final Frontier,30000000,19,1989-06-09,70200000,Star Trek V: The Final Frontier,5.6,376,Capt. Kirk and his crew must deal with Mr. Spo...,Adventure and imagination will meet at the fin...,172,5460
17,45347,Star Trek VI: The Undiscovered Country,27000000,16,1991-12-05,96900000,Star Trek VI: The Undiscovered Country,6.7,413,"On the eve of retirement, Kirk and McCoy are c...",The battle for peace has begun.,174,5528
18,45556,Star Trek IV: The Voyage Home,24000000,22,1986-11-25,133000000,Star Trek IV: The Voyage Home,6.9,477,Fugitives of the Federation for their daring r...,The key to saving the future can only be found...,168,5609
19,45569,The Men Who Stare at Goats,24000000,20,2009-10-17,68729358,The Men Who Stare at Goats,5.9,742,A reporter in Iraq might just have the story o...,No goats. No glory.,10313,5613
20,45914,Star Trek III: The Search for Spock,18000000,15,1984-05-31,87000000,Star Trek III: The Search for Spock,6.4,434,Admiral Kirk and his bridge crew risk their ca...,A dying planet. A fight for life.,157,5609
21,46015,Dickie Roberts: Former Child Star,0,10,2003-09-05,0,Dickie Roberts: Former Child Star,5.1,64,"TV child star of the '70s, Dickie Roberts is n...",50 million people used to watch him on TV. Now...,13778,5160
22,46183,Firestarter,15000000,11,1984-05-11,17080167,Firestarter,5.9,173,"As youths, Andy McGee (David Keith) and his fu...",Will she have the power... to survive?,11495,5868
23,46276,Superstar,0,4,1999-10-08,0,Superstar,5.1,83,"Orphan Mary Katherine Gallagher, an ugly duckl...",Dare to dream.,13824,5587
24,46412,Star Trek II: The Wrath of Khan,12000000,22,1982-06-03,96800000,Star Trek II: The Wrath of Khan,7.3,675,Admiral James T. Kirk is feeling old; the pros...,At the end of the universe lies the beginning ...,154,5528
25,46435,The Fault in Our Stars,12000000,74,2014-05-16,307166834,The Fault in Our Stars,7.6,3759,Despite the tumor-shrinking medical miracle th...,One Sick Love Story,222935,5991
26,46509,Star Wars,11000000,126,1977-05-25,775398007,Star Wars,8.1,6624,Princess Leia is captured and held hostage by ...,"A long time ago in a galaxy far, far away...",11,4901
27,46676,Bucky Larson: Born to Be a Star,10000000,3,2011-09-09,0,Bucky Larson: Born to Be a Star,4.4,51,A kid from the Midwest moves out to Hollywood ...,There Are No Small Actors. Just Small Parts.,67911,6101
28,46805,Star Wars: Clone Wars (Volume 1),0,1,2005-03-21,0,Star Wars: Clone Wars: Volume 1,8.0,27,"The Saga continues with the Emmy-winning ""Star...",None,333355,4975
29,46819,Bright Star,8500000,9,2009-11-05,4440055,Bright Star,6.8,107,"In 1818, high-spirited young Fanny Brawne find...",First love burns brightest.,29963,6003
30,47002,Stargate: The Ark of Truth,7000000,8,2008-03-11,8900000,Stargate: The Ark of Truth,6.9,140,SG-1 searches for an ancient weapon which coul...,The lines have been drawn. The battle has been...,13001,6272
31,47196,Lone Star,5000000,5,1996-06-21,13269963,Lone Star,6.9,77,When the skeleton of his murdered predecessor ...,John Sayles invites you to return to the scene...,26748,6182
32,47960,20 Feet from Stardom,1000000,5,2013-06-14,0,20 Feet from Stardom,7.4,85,Backup singers live in a world that lies just ...,None,159014,6820
33,48087,Starsuckers,0,0,2009-09-30,0,Starsuckers,6.2,5,Starsuckers is the most controversial document...,None,40658,6904

In [9]:
q = """
SELECT *, director_df.name
FROM movies_df
LEFT JOIN director_df
WHERE movies_df.director_id = director_df.id;
"""
j1 = pysql(q)
j1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4773 entries, 0 to 4772
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              4773 non-null   int64
 1   original_title  4773 non-null   object
 2   budget          4773 non-null   int64
 3   popularity      4773 non-null   int64
 4   release_date    4773 non-null   object
 5   revenue         4773 non-null   int64
 6   title           4773 non-null   object
 7   vote_average    4773 non-null   float64
 8   vote_count      4773 non-null   int64
 9   overview        4770 non-null   object
 10  tagline         3951 non-null   object
 11  uid             4773 non-null   int64
 12  director_id     4773 non-null   int64
 13  name            4773 non-null   object
 14  id              4773 non-null   int64
 15  gender          4773 non-null   int64
 16  uid             4773 non-null   int64
 17  department      4773 non-null   object
 18  name            4773 non-null   object
dtypes: float64(1), int64(10), object(8)
memory usage: 708.6+ KB

In [10]:
j1.head(10)

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id,name,id,gender,uid,department,name
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762,James Cameron,4762,2,2710,Directing,James Cameron
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763,Gore Verbinski,4763,2,1704,Directing,Gore Verbinski
2,43599,Spectre,245000000,107,2015-10-26,880674609,Spectre,6.3,4466,A cryptic message from Bonds past sends him o...,A Plan No One Escapes,206647,4764,Sam Mendes,4764,2,39,Directing,Sam Mendes
3,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...,The Legend Ends,49026,4765,Christopher Nolan,4765,2,525,Directing,Christopher Nolan
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,6.1,2124,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766,Andrew Stanton,4766,2,7,Directing,Andrew Stanton
5,43602,Spider-Man 3,258000000,115,2007-05-01,890871626,Spider-Man 3,5.9,3576,The seemingly invincible Spider-Man goes up ag...,The battle within.,559,4767,Sam Raimi,4767,2,7623,Directing,Sam Raimi
6,43603,Tangled,260000000,48,2010-11-24,591794936,Tangled,7.4,3330,When the kingdom's most wanted-and most charmi...,They're taking adventure to new lengths.,38757,4768,Byron Howard,4768,2,76595,Directing,Byron Howard
7,43604,Avengers: Age of Ultron,280000000,134,2015-04-22,1405403694,Avengers: Age of Ultron,7.3,6767,When Tony Stark tries to jumpstart a dormant p...,A New Age Has Come.,99861,4769,Joss Whedon,4769,2,12891,Directing,Joss Whedon
8,43605,Harry Potter and the Half-Blood Prince,250000000,98,2009-07-07,933959197,Harry Potter and the Half-Blood Prince,7.4,5293,"As Harry begins his sixth year at Hogwarts, he...",Dark Secrets Revealed,767,4770,David Yates,4770,2,11343,Directing,David Yates
9,43606,Batman v Superman: Dawn of Justice,250000000,155,2016-03-23,873260194,Batman v Superman: Dawn of Justice,5.7,7004,Fearing the actions of a god-like Super Hero l...,Justice or revenge,209112,4771,Zack Snyder,4771,2,15217,Directing,Zack Snyder

In [11]:
q = '''
WITH directors_names AS (
SELECT name, id
FROM director_df)

SELECT *
FROM movies_df
LEFT JOIN directors_names
ON directors_names.id = movies_df.director_id;
'''

cte = pysql(q)
cte.head()

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id,name,id
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762,James Cameron,4762
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763,Gore Verbinski,4763
2,43599,Spectre,245000000,107,2015-10-26,880674609,Spectre,6.3,4466,A cryptic message from Bonds past sends him o...,A Plan No One Escapes,206647,4764,Sam Mendes,4764
3,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...,The Legend Ends,49026,4765,Christopher Nolan,4765
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,6.1,2124,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766,Andrew Stanton,4766

In [12]:
cte.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4773 entries, 0 to 4772
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              4773 non-null   int64
 1   original_title  4773 non-null   object
 2   budget          4773 non-null   int64
 3   popularity      4773 non-null   int64
 4   release_date    4773 non-null   object
 5   revenue         4773 non-null   int64
 6   title           4773 non-null   object
 7   vote_average    4773 non-null   float64
 8   vote_count      4773 non-null   int64
 9   overview        4770 non-null   object
 10  tagline         3951 non-null   object
 11  uid             4773 non-null   int64
 12  director_id     4773 non-null   int64
 13  name            4773 non-null   object
 14  id              4773 non-null   int64
dtypes: float64(1), int64(8), object(6)
memory usage: 559.5+ KB